<div class="container">
    <div *ngIf="userService.principal === null">
        <h3>You are not login yet. Please login first</h3>
    </div>
    <div *ngIf="userService.principal">
        <h3>All users</h3>
        <table>
            <ul>
                <li *ngFor="let user of users">
                    <h5>username: {{ user.username }}</h5>
                    <h5>password: {{ user.password }}</h5>
                    <h5>_links.self.href: {{ user._links.self.href }}</h5>
                </li>
            </ul>
        </table>
    </div>
</div>
